<!-- JUMBOTRON -->
<div class="container" style="margin-top: 100px;" *ngIf="fakture.length === 0">
  <div class="jumbotron">
    <h1 class="display-4">Nema podataka za prikaz!</h1>
    <hr class="my-4">
    <p class="lead">Trenutno nema podataka za prikaz na ovoj stranici.</p>
  </div>
</div>

<div class="container" style="margin-top: 100px;" *ngIf="fakture.length != 0">
  <section id="gallery">
    <div class="container">
      <div class="row">
        <h1>Moje fakture</h1>
        <div class="col-lg-4 mb-4" *ngFor="let faktura of fakture">
          <div class="card">
            <img [src]="faktura.reklama.urlSlike" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ faktura.opis }}</h5>
              <p class="card-text">Datum: {{ faktura.datum | date}}</p>
              <p class="card-text">Iznos novcani: {{ faktura.iznosNovcani }} $</p>
              <p class="card-text">Opis: {{ faktura.reklama.opis }}</p>
              <p class="card-text">Od: {{ faktura.reklama.odDatum | date }}</p>
              <p class="card-text">Do: {{ faktura.reklama.doDatum | date }}</p>
              <p style="visibility: hidden;">Id: {{ faktura.id }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 </div>
