<div class="container" style="margin-top: 100px;" *ngIf="reklame.length === 0">
  <div class="jumbotron">
    <h1 class="display-4">Nema podataka za prikaz!</h1>
    <hr class="my-4">
    <p class="lead">Trenutno nema podataka za prikaz na stranici <i>Moje reklame.</i></p>
  </div>
</div>

<div class="container" style="margin-top: 100px;" *ngIf="reklame.length != 0">
  <section id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4" *ngFor="let reklama of reklame">
          <div class="card">
            <img [src]="reklama.urlSlike" alt="" class="card-img-top">
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
              <p class="card-text">Od: {{ reklama.odDatum | date:'dd.MM.yyyy' }}</p>
              <p class="card-text">Do: {{ reklama.doDatum | date:'dd.MM.yyyy' }}</p>
              <p class="card-text">Opis: {{ reklama.opis }}</p>
              <!-- <p class="card-text" >Status: {{ reklama.status }}</p> -->
              <p style="visibility: hidden;">Id: {{ reklama.id }}</p>

              <button style="align-self: center;" *ngIf="!reklama.status" class="btn btn-danger m-lg-2" (click)="deleteReklama(reklama.id)">Delete</button>
              <p style="visibility: visible; text-align: center; border-radius: 5px;" class="card-text text-bg-success p-2" *ngIf="reklama.status">Reklama je vec odobrena i ne moze biti izbrisana.</p>
            </div>
          <!-- </div> -->

          </div>
        </div>
      </div>
    </div>
  </section>

 </div>
