<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">



  <section id="hero" class="clearfix">
    <div class="container">

      <div class="hero-img" id="hero-img">
      </div>

      <div class="hero-info">
        <h2>Mi reklamiramo<br><span>Vas brend</span><br>povoljno!</h2>
        <div>

        </div>
      </div>

    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>O nama</h3>
          <p>Kao agencija koja ima poverenje i podrsku lokalne zajednice, mi smo vas pouzdan partner u postizanju marketinskih ciljeva. Bez obzira da li zelite da povecate prepoznatljivost brenda, promovisete dogadjaje ili privucete nove kupce, nasi panoi sirom grada su vasa najbolja marketinska platforma.
          </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Kontaktirajte nas danas i dozvolite nam da vam pomognemo da se istaknete sa nasim panoima i ostvarite svoje poslovne ciljeve.            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Brzo i efikasno</a></h4>
              <p class="description">Reklamni pano moze se iznajmiti brze nego ikad.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Vidljivo sa velike udaljenosti</a></h4>
              <p class="description">Reklama na panou je vidljiva sa velike udaljenosti.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Pouzdano</a></h4>
              <p class="description">Jedna reklama na jednom panou u jednom vremenu.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" id="uredjaji" data-aos="zoom-in">
          <p></p>
          </div>
        </div>



      </div>
    </section><!-- End About Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Reklamna Agencija</h3>
            <p>Dobrodosli u nasu reklamnu agenciju koja se istice svojim impresivnim prisustvom panoa sirom grada. Nasa agencija donosi dinamicne i kreativne reklamne kampanje koje osvajaju srca nase lokalne zajednice i privlace paznju prolaznika.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Korisni linkovi</h4>
            <ul>
              <li><a href="#">Pocetna</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Kontaktirajte nas</h4>
            <p>
              Marsala Tita <br>
              Tutin<br>
              Srbija <br>
              <strong>BrTel:</strong> +381 66 666 666<br>
              <strong>Email:</strong> belkisa.dazdarevic1&#64;gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>
              Kao agencija koja ima poverenje i podrsku lokalne zajednice, mi smo vas pouzdan partner u postizanju marketinskih ciljeva. Bez obzira da li zelite da povecate prepoznatljivost brenda, promovisete dogadjaje ili privucete nove kupce, nasi panoi sirom grada su vasa najbolja marketinska platforma.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ReklamnaAgencija</strong>. Sva prava zadrzana
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

